<nav class ="navbar bg-primary">
 <ul>
    <a [routerLink]="['/home']" routerLinkActive="active"><li>Add Company</li></a> 
    <a [routerLink]="['/companyList']" routerLinkActive="active"><li>Company List</li></a>  
    <a [routerLink]="['/addProduct']" routerLinkActive="active"><li>Add Product</li></a>  
    <a [routerLink]="['/productList']" routerLinkActive="active"><li>Product List</li></a>  
    <a [routerLink]="['/placeOrder']" routerLinkActive="active"><li>Place Order</li></a> 
 </ul>

</nav>