<app-navbar></app-navbar>
<div *ngIf="loading">
    <img [src]='src/assets/spinner' alt="Loading.." style="width: 200px; margin: auto; display: block"/>

</div>

<div class='alert alert-success' *ngIf="isOrderPlaced">
    <i class="fas fa-info-circle"></i>{{alertMsg}}
  </div>
  <div class='alert alert-danger' *ngIf="hasError">
    <i class="fas fa-info-circle"></i>{{alertErrorMsg}}
  </div>
  <div class="container">
      <h3 class="text-center"><strong>Add Product</strong> </h3>
      <form [formGroup]="placeOrderForm" class="form" >
          <label>Company Name</label>
          <select formControlName="companyName"  *ngIf="this.companyNameList" (change)="getCompanyProducts($event)">
            <option selected disabled>Please Select</option>
            <option *ngFor ="let company of this.companyNameList" [value]="company.companyName">{{company.companyName}}</option>
          </select>
          <label>Product Name</label>
          <select formControlName="productName"  *ngIf="this.companyNameList" (change)="getProductRate($event)">
            <option selected disabled>Please Select</option>
            <option *ngFor ="let product of this.productNameList" [value]="product.productName">{{product.productName}}</option>
          </select>
          <label>Rate</label>
          <input
            type="number"
            formControlName="rate"
            placeholder="cost"
          />
          <label>Quantity</label>
          <input
            type="number"
            formControlName="quantity"
            placeholder="Quantity"
            (blur)="calculateTotalPrice()"
          />
          <label>Total Price</label>
          <input
            type="number"
            formControlName="totalPrice"
            placeholder="Toatal Price"
          />
           <button
            type="submit"
            value="Add Company"
            class="btn btn-dark btn-block"
            (click)="placeOrder()"
          >Place Order</button>
           
        </form>
      </div>